<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "rttr.tedgdf.ffgdf"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap test</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author  email="suraj@umangsoftware.com">
      suraj
    </author>

</widget>
